[submodule "repos/imago_front"]
	path = repos/imago_front
	url = https://gitlab.com/imago-project/imago_front.git
[submodule "repos/imago"]
	path = repos/imago
	url = https://gitlab.com/imago-project/imago.git
