[Unit]
Description="Front Node.js Server"

[Service]
Type=simple
WorkingDirectory={{ front_path }}
{# #ExecStart={{ front_path }}/env/bin/python -m synapse.app.homeserver --config-path={{ front_path }}/homeserver.yaml #}
ExecStart={{ front_start_cmd }}
{# ExecStop={{ front_stop_cmd }} #}
User={{ imago_front_user }}
{# User=root #}
Group={{ imago_front_user }}
Restart=always
{# StandardOutput=syslog
SyslogIdentifier=front #}

[Install]
WantedBy=multi-user.target
