[Unit]
Description="Phoenix Elixir Server"

[Service]
Type=simple
WorkingDirectory={{  backend_path }}
ExecStart=/usr/bin/mix phx.server
{# ExecStop= #}
User={{ phoenix_user }}
Group={{ phoenix_user }}
Restart=always
StandardOutput=syslog
SyslogIdentifier=front

[Install]
WantedBy=default.target
